{% verbatim %}
Vue.component('cart-item',{
	props: ['ingredient', 'isAdd'],

	template: '<li> \
	{{ingredient.description}}  \
	<button class="btn btn-success" v-if="isAdd" v-on:click="AddItem"> Add </button> \
	<button class="btn btn-danger" v-if="!isAdd" v-on:click="RemoveItem"> Remove </button> \
	</li> ',
	methods: {
		AddItem: function(){
			this.$emit('AddItem');
		},
		RemoveItem: function(){
			this.$emit('RemoveItem');
		}
	}
})

Vue.component('cart', {
	template: ' \
	<div id="cart"> \
		{{Title}} \
		<input type="text" v-model="ingredient_search" id="ingredient_search" v-on:keyup="Filter" /> \
		<div v-show="SelectedIngredients.length > 0"> \
		{{SelectedTitle}}\
		<ul > \
			<cart-item v-for="i in SelectedIngredients" :ingredient="i" v-on:RemoveItem="Remove(i)" v-if="i.visible" 	></cart-item> \
		</ul> \
		</div> \
		<hr> \
		<ul> \
			<cart-item  v-for="i in Ingredients" :ingredient="i" v-on:AddItem="Add(i)" :isAdd="true" v-if="i.visible && !i.onCart" ></cart-item> \
		</ul> \
	</div>',
	data: function(){
		return {
			Ingredients: [],
			SelectedIngredients: [],
			Title: "Carrinho de ingredients",
			SelectedTitle: "Selecionados",
			ingredient_search: ''
		}
	},
	created: function ()  { 
	    this.LoadData();
	},
	methods: {
		LoadData: function(){
		var self = this;
		var q = '';
		if(self !== undefined && self.ingredient_search !== undefined){
			q = '?q='+self.ingredient_search;
		}
		 $.ajax({
		            url: 'http://127.0.0.1:8000/api/ingredient' + q,
		            method: 'GET',
		            success: function (data) {
		                self.Ingredients = data.filter(function(x){
		                	x.visible = true;
		                	x.onCart = false;
		                	return x;
		                });
		            },
		            error: function (error) {
		                alert(JSON.stringify(error));
		            }
		        });
		},
		Add: function(p){
			var c = 0;
			p.visible = true;
			this.SelectedIngredients.push(p);

			this.Ingredients.map(function(ingredient){
				if(ingredient.id == p.id){
					ingredient.onCart = true;	
				}
			});
		},
		Filter: function(){
			var self = this;
			if(self.ingredient_search !== undefined && self.ingredient_search !== ""){
				self.Ingredients.map(function(ing){
					if(ing.description.toUpperCase().includes(self.ingredient_search.toUpperCase()))
					{
						ing.visible = true;
					}
					else{
						ing.visible = false;
					}
				});	
				self.SelectedIngredients.map(function(ing){
					if(ing.description.toUpperCase().includes(self.ingredient_search.toUpperCase()))
					{
						ing.visible = true;
					}else{
						ing.visible = false;
					}
				});
			}else{
				self.Ingredients.map(function(ing){
					ing.visible = true;
				});
			}
		},
		Remove: function(i){
			var self = this;
			self.SelectedIngredients.splice(self.SelectedIngredients.indexOf(i), 1);
			
			var hidden_ingredient = self.Ingredients.filter(function(elem){
				if(elem.id == i.id){
					elem.onCart = false;
				}
			});
		}
	}
});
{% endverbatim %}