{% verbatim %}
Vue.component('cart-item',{
	props: ['ingredient', 'isAdd'],

	template: '<li> \
	{{ingredient.description}}  \
	<button class="btn btn-success" v-if="isAdd" v-on:click="AddItem"> Add </button> \
	<button class="btn btn-danger" v-if="!isAdd" v-on:click="RemoveItem"> Remove </button> \
	</li> ',
	methods: {
		AddItem: function(){
			this.$emit('AddItem');
		},
		RemoveItem: function(){
			this.$emit('RemoveItem');
		}
	}
})

Vue.component('cart', {
	template: ' \
	<div id="cart"> \
		<div v-show="SelectedIngredients.length > 0"> \
		{{SelectedTitle}}\
		<li> \
			<ul v-for="i in SelectedIngredients"> \
				<cart-item :ingredient="i" v-on:RemoveItem="Remove(i)"  ></cart-item> \
			</ul> \
		</li> \
		</div> \
		{{Title}} \
		<input type="text" v-model="ingredient_search" id="ingredient_search" v-on:keyup="Filter" /> \
		<li> \
			<ul v-for="i in FilteredIngredients"> \
				<cart-item :ingredient="i" v-on:AddItem="Add(i)" :isAdd="true" ></cart-item> \
			</ul> \
		</li> \
	</div>',
	data: function(){
		return {
			Ingredients: [],
			FilteredIngredients: [],
			SelectedIngredients: [],
			Title: "Carrinho de ingredients",
			SelectedTitle: "Selecionados",
			ingredient_search: ''
		}
	},
	created: function ()  { 
	    this.LoadData();
	},
	methods: {
		LoadData: function(){
		var self = this;
		var q = '';
		if(self !== undefined && self.ingredient_search !== undefined){
			q = '?q='+self.ingredient_search;
		}
		 $.ajax({
		            url: 'http://127.0.0.1:8000/api/ingredient' + q,
		            method: 'GET',
		            success: function (data) {
		                self.Ingredients = data;
		                self.FilteredIngredients = data;
		            },
		            error: function (error) {
		                alert(JSON.stringify(error));
		            }
		        });
		},
		Add: function(p){
			var c = 0;
			for(var c = 0; c < this.Ingredients.length; c++){
				if(this.Ingredients[c].id == p.id)
					this.Ingredients.splice(c, 1);
			}
			this.SelectedIngredients.push(p);
		},
		Filter: function(){
			var self = this;
			if(self.ingredient_search !== undefined && self.ingredient_search !== ""){
				self.FilteredIngredients = [];
				for(var x = 0; x < self.Ingredients.length; x++){
					var i = self.Ingredients[x];
					if(i.description.toUpperCase().includes(self.ingredient_search.toUpperCase())){
						self.FilteredIngredients.push(i);
					}
				}	
			}else{
				self.FilteredIngredients = self.Ingredients;
			}
		},
		Remove: function(i){
			var self = this;
			debugger;
			for(var x = 0;x < self.SelectedIngredients.length; x++){
				var ing = self.SelectedIngredients[x];
				if(ing.id === i.id){
					self.SelectedIngredients.splice(1, x);
					self.FilteredIngredients.push(ing)
				}
			}
		}
	}
});
{% endverbatim %}